body {
    overflow: hidden;
    margin: 0;
}

h1 {
    font-size: 5vw;
    font-weight: 1500;
    margin: 0px 20px;
}

h2 {
    font-size: 4vw;
    font-weight: 500;
    margin: 0 20px;
}

.slide {
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.image-slide img {
    max-width: 100%;
    max-height: 100%;
}

.slide {
    text-align: center;
    max-width: 100%;
}

.facts-slide {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 0px;
}

.facts-slide ol,
.facts-slide ul {
    margin:0;
    padding: 0 20px 0 80px;
    flex: 1 1 0px;
    width: 50%;
    list-style-type: inner;
}

.facts-slide li {
    margin: 10px;
    text-align: left;
    width: auto;
}

.facts-slide img {
    flex: 1 1 0px;
    width:50%;
    padding: 20px;
}

.hidden {
    display: none !important;
}

button,
select {
    background-color: #f3f3f3;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 125px;
    height: 50px;
}

#fullscreen-button {
    position: fixed;
    top: 10px;
    left: 10px;
    
  }

.links {
    display: flex;
    position: fixed;
    top: 10px;
    right: 145px;
    height: 50px;
    gap:10px;
}

a:hover,
button:hover,
select:hover {
    transform: scale(1.1);
}

.links img {
    height: 100%;
}

#select-language {
    position: fixed;
    top: 10px;
    right: 10px;
}
